<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body class="m-10 bg-gray-900">
    <div>
      <div class="flex justify-between mb-10">
        <div class="text-5xl text-white font-semibold">Enter Details</div>
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          onclick="location.href='/all'"
        >
          My List
        </button>
      </div>
      <form
        action="/form"
        method="post"
        enctype="multipart/form-data"
        id="upload-form"
      >
        <div class="mb-6">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Name</label
          >
          <input
            type="text"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Subhodip Roy"
            required="true"
            name="name"
          />
        </div>
        <div class="mb-6">
          <label
            for="country"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Country</label
          >
          <input
            type="text"
            id="country"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="India"
            required="true"
            name="country"
            list="listid"
          />
          <datalist id="listid">
            <% for(let i=0;i<allCountry.length;i++)  {%>
            <option value="<%= allCountry[i] %>"></option>
            <% } %> 
          </datalist>
        </div>
        <div class="mb-6">
          <label
            for="dateOfBirth"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Date of Birth</label
          >
          <input
            type="date"
            name="dateOfBirth"
            id="dateOfBirth"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required="true"
          />
        </div>
        <div class="mb-6">
          <label class="block">
            <span class="sr-only">Upload Resume</span>
            <input
              type="file"
              class="block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100"
              name="resume"
              id="resume"
              data-max-size="2048"
              accept="application/pdf"
              required
            />
          </label>
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </form>
    </div>
    <script type="text/javascript">
      $("#resume").on("change", function () {
        const size = (this.files[0].size / 1024 / 1024).toFixed(2);
        if (size > 4) {
          alert("File must be less than size of 4 MB");
          this.value = "";
        }
        //else{
        //   var fileName = document.getElementById('theFile').files[0].name;
        // }
      });
    </script>
  </body>
</html>
