<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    <h1>My List</h1>
    <form action="" method="post">
      <div>
        <label for="name"> Name: </label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="Date of Birth"> Date of Birth: </label>
        <input type="date" name="dateOfBirth" id="dateOfBirth" />
      </div>
      <div>
        <label for="Country">Country: </label>
        <input type="text" name="country" id="country" />
      </div>
      <div>
        <label for="resume">Resume: </label>
        <input type="file" name="resume" id="resume" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
